$colors:(
   orangish:#fb6d6c,
   bluish:#2b92e4
);
nav.navbar,nav.navbar_open{
    width: 100%;
    height: 80px;
   display: flex;
   justify-content: space-between;
   position: relative;
   padding-left: 10px;
//    background-color: map-get($map: $colors, $key:bluish );
box-shadow: 10px 0 20px map-get($map: $colors, $key:bluish );
  z-index: 2;
  transition: 0.5s ease-in-out;
   .logo{
       display: flex;
       align-items: center;

       color: map-get($map: $colors, $key:bluish );
       user-select: none;
   }
//    overflow: hidden;
   ul.navOptions{
       list-style: none;
       display: flex;
       height: inherit;
       align-items: center;
       padding: 0 10px;
    //    z-index: 6;
       li{
           margin-right: 20px;
           font-size: 1.3rem;
           cursor: pointer;
           user-select: none;
           svg{
               font-size: 1.7rem;
               color: map-get($map: $colors, $key:orangish );
               margin-top: 10px;
           }
       }
       li:hover{
           color: map-get($map: $colors, $key:bluish );
       }
      
       li.cartLogo{
        position: relative;
           svg{
               color: map-get($map: $colors, $key:bluish );
           }
           span{
               position: absolute;
               font-size: 1.5rem;
               font-weight: 600;
               top: -22px;
               left: 10px;
               color: map-get($map: $colors, $key:orangish );
           }
       }
       li.user_Btn{
           z-index: 6;
       }
   }
    .logo{
        font-size: 3rem;
        padding-left: 10px;
        cursor: pointer;
    }
    .bikes_category{
        display: none;
    }
}
nav.navbar_open:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: 80px;
    left: 0;
    background-color:white;
    box-shadow: 0px 30px 30px map-get($map: $colors, $key:bluish );
    transition: 0.5s ease-in-out;
}
nav.navbar_open{
  .bikes_category{
      position: absolute;
      display: inline;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;
      width: 70%;
      ul{
          display: flex;
          list-style: none;
          width: 100%;
          justify-content: space-between;
         li{
             font-size: 1.2rem;
             font-family: 'Roboto', sans-serif;
             cursor: pointer;
         }
         li:hover{
           color: map-get($map: $colors, $key:bluish );
         }
      }
  }
}

header.home_header{
    width: 100%;
    height: calc(100vh - 80px); 
    position: relative;
    // box-shadow: 10px 0 80px #76bef8;
   .content{
       position: absolute;
       top: 60%;
       left: 7%;
       border-left: 1px solid map-get($map: $colors, $key:bluish );
       padding-left: 5px;
       h1{
           color: rgb(240, 121, 141);
        //    font-family: 'Hubballi', cursive;
           font-size: 2.5rem;
           font-weight: 100;
        //    font-family: 'Lora', serif;
        font-family: 'Roboto', sans-serif;
       }
   }
   .best_deal{
       position: absolute;
       top: 7%;
       left: 8%;
       border-right: 1px solid rgb(240, 121, 141);
       padding-right: 5px;
       h1{
        color: #2b92e4;
     //    font-family: 'Hubballi', cursive;
        font-size: 2.5rem;
        font-weight: 100;
        // font-family: 'Lora', serif;
        font-family: 'Roboto', sans-serif;
    }
   }
}
section.allBreeds{
    width: inherit;
    height: 95vh;
    border: 1px solid black;
    margin-bottom: 50px;
 .searchBread{
     width: inherit;
     height: 70px;
     text-align: center;
     padding-top: 20px;
     .inp_div{
         width: 80%;
         height: 45px;
         margin: auto;
         display: flex;
        //  align-items: center;
        justify-content: center;
         
         input[type=text]{
             width: inherit;
         }
     }
 }
 .details{
     width: inherit;
     height: 200px;
 }
 .dog_breeds{
     width: inherit;
     height: 300px;
     border: 1px solid black;
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 0 30px;
     article{
         width: 350px;
         height: 250px;
         border: 1px solid black;
     }
 }
}




section.footer{
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: map-get($map: $colors, $key:bluish );
   
    .footer_component{
   width: inherit;
   height: inherit;
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
   padding-left: 10px;
   padding-top: 100px;
   position: relative;
    .logo{
        display: flex;
        align-items: center;
        user-select: none;
        svg{
            color: white;
            font-size: 3rem;
        }
        h1{
            font-size: 3rem;
            color: white;
        }
    }
    .categories,.aboutus{
        color: white;
        font-size: 1.4rem;
        // font-family: 'Hubballi', cursive;
        font-family: 'Roboto', sans-serif;
        ul{
            li{
                cursor: pointer;

            }
            li:hover{
                color: wheat;
            }
        }
    }
    .copyright{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        right: 20px;
        color: white;
        svg{
            font-size: 2rem;
        }
    }
}
}