.container {
  /* padding: 0 2rem; */
  width: inherit;
  height: auto;
  min-height: 100vh;
}

.main {
 
 
  display: flex;
  flex-direction: column;
  width: inherit;
  height: auto;
  min-height: 100vh;

}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
